absl-py==0.12.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
astunparse==1.6.3
async-timeout==3.0.1
atari-py==0.2.6
attrs==20.2.0
autopep8 @ file:///tmp/build/80754af9/autopep8_1615918855173/work
blessings==1.7
Bottleneck==1.3.2
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.4
coloredlogs==14.0
colorful==0.5.4
coverage==5.5
coveralls==3.0.1
cycler==0.10.0
dm-tree==0.1.5
docopt==0.6.2
filelock==3.0.12
flake8 @ file:///tmp/build/80754af9/flake8_1615834841867/work
flatbuffers==1.12
future==0.18.2
gast==0.3.3
google-api-core==1.26.1
google-auth==1.28.0
google-auth-oauthlib==0.4.3
google-pasta==0.2.0
googleapis-common-protos==1.53.0
gpustat==0.6.0
grpcio==1.32.0
gym==0.18.0
h5py==2.10.0
hiredis==1.1.0
humanfriendly==8.2
idna==2.10
importlib-metadata==2.0.0
iniconfig==1.0.1
jsonschema==3.2.0
Keras-Preprocessing==1.1.2
kiwisolver @ file:///opt/concourse/worker/volumes/live/1e6d28e8-da14-4365-7344-567a05db7efc/volume/kiwisolver_1612282399491/work
lz4==3.1.3
Markdown==3.3.4
matplotlib @ file:///opt/concourse/worker/volumes/live/41e8cd50-031f-4dda-5787-dd3c4f4e0f08/volume/matplotlib-suite_1613407855571/work
mccabe==0.6.1
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
more-itertools @ file:///tmp/build/80754af9/more-itertools_1613676688952/work
msgpack==1.0.2
multidict==5.1.0
numpy==1.19.2
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
opencensus==0.7.12
opencensus-context==0.1.2
opencv-python==4.5.1.48
opencv-python-headless==4.3.0.36
opt-einsum==3.3.0
packaging==20.4
pandas==1.2.3
Pillow==7.2.0
pluggy==0.13.1
prometheus-client==0.9.0
protobuf==3.15.6
psutil==5.8.0
py==1.9.0
py-spy==0.3.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle @ file:///home/ktietz/src/ci_mi/pycodestyle_1612807597675/work
pyflakes @ file:///home/ktietz/src/ci_ipy2/pyflakes_1612551159640/work
pyglet==1.5.0
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.1.0
pytest-cov==2.11.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.4.1
ray==1.2.0
redis==3.5.3
requests==2.25.1
requests-oauthlib==1.3.0
rope @ file:///tmp/build/80754af9/rope_1602264064449/work
rsa==4.7.2
scipy==1.5.2
seaborn @ file:///tmp/build/80754af9/seaborn_1608578541026/work
six==1.15.0
tabulate==0.8.9
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.1
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
toml==0.10.1
tornado @ file:///opt/concourse/worker/volumes/live/d531d395-893c-4ca1-6a5f-717b318eb08c/volume/tornado_1606942307627/work
typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
urllib3==1.26.4
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.6.3
zipp==3.2.0
